<div *ngIf="!editing">
  <span [class.empty]="!value?.value">{{value || placeholder | formatImageDate}}</span>
  <fa-icon class="pencil-icon ml-3" title="Edit" *ngIf="enabled" (click)="edit()" icon="pencil-alt"></fa-icon>
</div>
<div *ngIf="editing" class="d-flex" #parentElement>
  <input class="form-control form-control-sm border-0"
         [(ngModel)]="value.value" />
  <button class="btn btn-success btn-sm" title="Save" (click)="save()">
    <fa-icon icon="check"></fa-icon>
  </button>
  <button class="btn btn-danger btn-sm" title="Cancel" (click)="cancel()">
    <fa-icon icon="times"></fa-icon>
  </button>
</div>
