\:host
  overflow: hidden !important
  display: flex
  flex-direction: column

.header-container
  border-bottom: 1px solid #000
  & > div:first-child
    flex: 0 0 70px
    & > img
      cursor: pointer

.viewport-container
  flex: 1 1 auto
  position: relative
  & > uh4d-viewport3d
    height: 100%

.side-container
  flex: 0 0 600px
