<div class="d-flex header-container">
  <div class="bg-dark p-2 d-flex align-items-center">
    <img src="../../assets/kv_histstadt4d.png" alt="UH4D Logo" title="Start page" height="40" routerLink="/"/>
  </div>
  <div class="flex-grow-1">
    <uh4d-explore-header></uh4d-explore-header>
  </div>
</div>

<div class="flex-grow-1 d-flex">

  <div class="viewport-container">
    <uh4d-viewport3d></uh4d-viewport3d>
    <router-outlet></router-outlet>
  </div>

  <uh4d-image-collapse-container>
    <uh4d-image-list></uh4d-image-list>
  </uh4d-image-collapse-container>

</div>

<uh4d-footer class="bg-dark"></uh4d-footer>
