<fa-icon [icon]="['far', 'question-circle']"
         [title]="help.title + ' Quick Help'"
         [popover]="popTemplate"
         [popoverTitle]="help.title"
         outsideClick="1"
         container="body"
         (onShown)="onShown()">
</fa-icon>

<ng-template #popTemplate><div [innerHTML]="content"></div></ng-template>
