<div class="modal-header">
  <h5 class="modal-title">
    <fa-icon icon="tour-flag"></fa-icon> Tour Manager
  </h5>
  <button class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">

  <p *ngIf="!tours?.length" class="lead text-center">No tours available.</p>

  <ul *ngIf="tours?.length" class="list-group">
    <li class="list-group-item" *ngFor="let t of tours">
      <h5>
        {{t.title}} <fa-icon icon="trash" class="interactive-icon text-danger small px-2" title="Delete tour" (click)="remove(t)"></fa-icon>
      </h5>
      <span *ngFor="let p of t.pois">{{p.title}}</span>
    </li>
  </ul>

</div>
