<div class="list-ctrls border border-secondary border-left-0 border-right-0 ">
  <form [formGroup]="listForm">

    <div class="input-group input-group-sm w-auto">
      <div class="input-group-prepend">
        <span class="input-group-text">Sort by</span>
      </div>
      <select class="form-control border-0" formControlName="sortBy">
        <option value="title">Title</option>
        <option value="author">Author</option>
        <option value="date">Date</option>
      </select>
      <div class="input-group-append" title="Reverse order">
        <span class="input-group-text sort-icons">
          <fa-icon icon="sort-up"
                   [class.active]="listForm.value.sortDesc"
                   (click)="listForm.patchValue({sortDesc: true})">
          </fa-icon>
          <fa-icon icon="sort-down"
                   [class.active]="!listForm.value.sortDesc"
                   (click)="listForm.patchValue({sortDesc: false})">
          </fa-icon>
        </span>
      </div>
    </div>

    <div class="input-group input-group-sm w-auto" title="Number of results">
      <div class="input-group-prepend">
        <span class="input-group-text">#</span>
      </div>
      <select class="form-control border-0" formControlName="itemsPerPage">
        <option value="20">20</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
    </div>

    <div class="btn-group btn-group-sm" btnRadioGroup formControlName="listStyle">
      <button btnRadio="card" class="btn" [class.btn-primary]="listForm.value.listStyle === 'card'" [class.btn-secondary]="listForm.value.listStyle !== 'card'"><fa-icon icon="th-large"></fa-icon></button>
      <button btnRadio="list" class="btn" [class.btn-primary]="listForm.value.listStyle === 'list'" [class.btn-secondary]="listForm.value.listStyle !== 'list'"><fa-icon icon="th-list"></fa-icon></button>
    </div>

    <div *ngxPermissionsOnly="'manageImages'">
      <button class="btn btn-sm btn-secondary" (click)="openUploadModal()"><fa-icon icon="cloud-upload-alt"></fa-icon> Upload</button>
    </div>

  </form>
</div>

<div class="list-body" #listBodyElement>

  <div class="h-100 d-flex justify-content-center align-items-center lead" *ngIf="!imagesRaw.length">
    No search results!
  </div>

  <div class="list-media" *ngIf="imagesRaw.length && listForm.value.listStyle === 'list'">
    <ul class="list-unstyled">

      <li class="media border border-secondary"
          *ngFor="let img of imagesSorted"
          [title]="img.title"
          (click)="openImage(img.id)">
        <div class="media-thumb mr-3" [style]="'background-image: url(data/' + img.file.path + img.file.thumb + ')'"></div>
        <div class="media-body">
          <div class="media-title" [line-truncation]="3">{{ img.title }}</div>
          <p class="mb-0"><i>{{ img.author || 'unknown' }} &ndash; {{ img.date | formatImageDate }}</i></p>
        </div>
        <div class="media-flags">
          <fa-icon
            *ngIf="img.spatialStatus >= 3"
            icon="cam-spatial-solid"
            title="Spatialized (Jump to location)"
            (click)="zoomImage($event, img)"
          ></fa-icon>
          <fa-icon
            *ngIf="img.spatialStatus === 1"
            icon="cam-spatial-slash"
            title="Spatialization not possible"
          ></fa-icon>
          <fa-icon
            *ngIf="img.spatialStatus === 2"
            icon="cam-spatial-fog"
            title="Spatialization may be possible in future"
          ></fa-icon>
        </div>
      </li>

    </ul>
  </div>

  <div class="list-card" *ngIf="imagesRaw.length && listForm.value.listStyle === 'card'">

    <div class="card border border-secondary bg-transparent"
         *ngFor="let img of imagesSorted"
         [title]="img.title"
         (click)="openImage(img.id)">
      <div class="card-img-top" [style]="'background-image: url(data/' + img.file.path + img.file.thumb + ')'"></div>
      <div class="card-body">
        <div class="mb-1" line-truncation="3">{{ img.title }}</div>
        <p class="card-text"><i>{{ img.author || 'unknown' }} &ndash; {{ img.date | formatImageDate }}</i></p>
      </div>
      <div class="media-flags">
        <fa-icon
          *ngIf="img.spatialStatus >= 3"
          icon="cam-spatial-solid"
          title="Spatialized (Jump to location)"
          (click)="zoomImage($event, img)"
        ></fa-icon>
        <fa-icon
          *ngIf="img.spatialStatus === 1"
          icon="cam-spatial-slash"
          title="Spatialization not possible"
        ></fa-icon>
        <fa-icon
          *ngIf="img.spatialStatus === 2"
          icon="cam-spatial-fog"
          title="Spatialization may be possible in future"
        ></fa-icon>
      </div>
    </div>

  </div>

</div>

<div class="list-footer border-top border-secondary d-flex justify-content-center">

  <pagination class="pagination-sm"
              [(ngModel)]="currentPage"
              (pageChanged)="onPageChange()"
              [totalItems]="imagesRaw.length"
              [itemsPerPage]="listForm.value.itemsPerPage"
              [maxSize]="5"
              boundaryLinks="1"
              directionLinks="1"
              [customFirstTemplate]="firstTemplate"
              [customLastTemplate]="lastTemplate"
              [customPreviousTemplate]="previousTemplate"
              [customNextTemplate]="nextTemplate">
  </pagination>

</div>

<ng-template #firstTemplate>
  <fa-icon icon="angle-double-left" title="First page"></fa-icon>
</ng-template>

<ng-template #lastTemplate>
  <fa-icon icon="angle-double-right" title="Last page"></fa-icon>
</ng-template>

<ng-template #previousTemplate>
  <fa-icon icon="angle-left" title="Previous page"></fa-icon>
</ng-template>

<ng-template #nextTemplate title="Next page">
  <fa-icon icon="angle-right"></fa-icon>
</ng-template>

<div class="loading-screen" *ngIf="isLoading">
  <span class="spinner-border" role="status"></span>
  <span class="lead mt-3">Querying images...</span>
</div>
