@import "variables"

\:host
  height: 100%
  position: relative
  display: flex
  flex-direction: column

.list-ctrls
  flex: 0 0 auto
  & > form
    display: flex
    align-items: baseline
    justify-content: space-evenly
    flex-wrap: wrap
    padding: 0.12rem
    & > div
      margin: 0.12rem 0.5rem

.sort-icons
  position: relative
  padding: 0 0.25rem !important
  font-size: 1rem !important
  & > fa-icon
    z-index: 5
    &:hover
      color: yellow
      cursor: pointer
    &.active
      color: orange
      position: absolute
      z-index: 4

.list-body
  flex: 1 1 0
  overflow-y: scroll

.list-footer
  flex: 0 0 auto
  padding: 0.25rem

  pagination ::ng-deep ul
      margin: 0

.list-media
  & > ul
    width: 100%
    & > li.media
      margin: 9px
      position: relative
      &:hover
        border-color: $primary !important
      & > .media-thumb
        width: 160px
        height: 90px
        background-position: center
        background-size: cover
      & > .media-body
        margin: 4px 4px 4px 0
        line-height: initial
        font-size: 13px
        & > .media-title
          font-weight: bold
          margin-bottom: 4px
      & > .media-flags
        width: 1.5rem
        text-align: center
        & > fa-icon
          cursor: pointer
          color: $gray-600
          &:hover
            color: $gray-100

.list-card
  display: flex
  flex-wrap: wrap
  justify-content: space-evenly
  & > .card
    width: 165px
    margin: 3px
    max-height: 250px
    position: relative
    &:hover
      border-color: $primary !important
    & > .card-img-top
      height: 100px
      background-position: center
      background-size: cover
    & > .card-body
      padding: 0.4em
      line-height: initial
      font-size: 11px
      & > .card-text
        font-size: 10px
    & > .media-flags
      height: 1.5rem
      padding: 0 4px
      & > fa-icon
        margin: 0 1.5px
        cursor: pointer
        color: $gray-600
        &:hover
          color: $gray-100

.loading-screen
  position: absolute
  width: 100%
  height: 100%
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  background-color: rgba(#000, 0.2)
  backdrop-filter: blur(3px)
  z-index: 5
