\:host
  display: block

.north
  cursor: pointer
  position: absolute
  top: -5px
  left: -5px
  display: flex
  justify-content: center
  align-items: center
  width: 16px
  height: 16px
  font-size: 12px
  background-color: #666
  color: white
  &:hover
    color: yellow

img
  position: absolute
  width: 100%
  left: 50%
  top: 50%
