<div class="modal-header">
  <h5 class="modal-title">
    <fa-icon icon="map-marker-alt"></fa-icon> {{title}}
    <ng-container *ngxPermissionsOnly="'managePOIs'">
      <span class="edit" *ngIf="!isEditing && poi" (click)="toggleEdit()">
        <fa-icon icon="pencil-alt"></fa-icon>
      </span>
    </ng-container>
    <small *ngIf="poi?.timestamp" class="text-muted">&emsp;Created {{ poi.timestamp | amCalendar }}</small>
  </h5>
  <button class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">

  <div *ngIf="!isEditing && poi && content" markdown>
    {{content}}
  </div>

  <iframe *ngIf="!isEditing && poi && iframeUrl" [src]="iframeUrl"></iframe>

  <form *ngIf="isEditing || !poi" [formGroup]="poiForm">
    <div class="form-group">
      <label for="poi-title">Title</label>
      <input id="poi-title"
             class="form-control"
             formControlName="title"
             [class.is-invalid]="submitted && poiForm.controls.title.invalid"/>
    </div>

    <div class="form-group">
      <div *ngIf="object" class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="poi-use-date" formControlName="useObjectDate">
        <label for="poi-use-date" class="custom-control-label">Use time span from object: <b>{{object.name}}</b></label>
      </div>
      <small *ngIf="object" class="form-text text-muted">
        Either bind to the object's erection and destruction dates or set independent dates.
      </small>
      <fieldset [disabled]="poiForm.value.useObjectDate">
        <div class="form-row">
          <div class="col">
            <label for="poi-from">From</label>
            <input id="poi-from" class="form-control form-control-sm" type="date" formControlName="from">
          </div>
          <div class="col">
            <label for="poi-to">To</label>
            <input id="poi-to" class="form-control form-control-sm" type="date" formControlName="to">
          </div>
        </div>
      </fieldset>
    </div>

    <label>Damage factors</label>
    <div class="form-group row" formArrayName="factors">
      <div class="col-4" *ngFor="let factor of damageFactors; index as i">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" [id]="'factor' + i" [formControlName]="i">
          <label class="custom-control-label" [for]="'factor' + i">{{ factor.label }}</label>
        </div>
      </div>
    </div>

    <div *ngIf="!showPreview" class="form-group">
      <label for="poi-content">Content</label>
      <textarea id="poi-content"
                class="form-control"
                rows="8"
                formControlName="content"
                [class.is-invalid]="submitted && poiForm.controls.content.invalid"></textarea>
      <small class="form-text text-muted">
        Use <a href="https://www.markdownguide.org/basic-syntax/" target="_blank"><fa-icon [icon]="['fab', 'markdown']"></fa-icon> Markdown</a> syntax to format the text.
        Or paste a single link if you want to embed a website.
      </small>
    </div>

    <div *ngIf="showPreview" class="form-group">
      <div *ngIf="content"
           class="preview-markdown"
           markdown
           [data]="content"
           ngPreserveWhiteSpaces></div>
      <iframe *ngIf="iframeUrl"
              class="preview-iframe"
              [src]="iframeUrl"></iframe>
    </div>

    <button class="btn btn-sm btn-outline-light" (click)="togglePreview()">
      <fa-icon icon="code"></fa-icon> Toggle {{showPreview ? 'Form' : 'Preview'}}
    </button>
  </form>

</div>

<div class="modal-footer" *ngIf="!poi || isEditing">
  <button class="btn btn-primary" (click)="save()" [disabled]="isSaving">
    <fa-icon icon="check"></fa-icon> Save
  </button>
  <button class="btn btn-secondary" (click)="cancel()">
    <fa-icon icon="times"></fa-icon> Cancel
  </button>
  <button *ngIf="poi" class="btn btn-outline-danger" (click)="remove()">
    <fa-icon icon="trash"></fa-icon> Delete
  </button>
</div>

<div class="modal-footer" *ngIf="!isEditing">
  <button class="btn btn-secondary" *ngIf="poi?.camera" (click)="zoomPoi()">
    <fa-icon icon="street-view"></fa-icon> Jump to location
  </button>
  <button class="btn btn-outline-warning" *ngIf="collectedPois" (click)="addToTour()">
    <fa-icon icon="tour-flag-plus"></fa-icon> Add to tour
  </button>
</div>
