@use "variables"

div[markdown]
  max-height: 75vh
  overflow-y: auto

iframe
  border: 2px solid #333
  width: 100%
  min-height: 75vh

.edit
  font-size: 1rem
  padding: 0.25rem
  cursor: pointer
  color: variables.$light
  &:hover
    color: variables.$body-color

.preview-markdown
  padding: 0.25rem
  border: 1px solid variables.$light

.preview-iframe
  min-height: 50vh

fieldset[disabled]
  opacity: 0.5
