<div class="h-100 p-3 d-flex overflow-hidden">

  <div class="preview-container">
    <uh4d-object-viewer
      [path]="'data/' + object.file.path + object.file.file"
      [origin]="object.origin"
    ></uh4d-object-viewer>
  </div>

  <div class="info-container ml-4">

    <div class="info-header border-bottom border-secondary">
      <h5 class="w-100 mt-2">
        <uh4d-inline-edit [(ngModel)]="object.name"
                          (saved)="updateObject('name')"
                          [enabled]="canEditObjects"></uh4d-inline-edit>
      </h5>
      <button type="button" class="close p-2" aria-label="Close" routerLink="../.." queryParamsHandling="preserve">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="info-body py-3">

      <div>
        <strong>Erection</strong>
        <p>
          <uh4d-inline-edit [(ngModel)]="object.date.from"
                            (saved)="updateObject('from')"
                            [enabled]="canEditObjects"
                            type="date"></uh4d-inline-edit>
        </p>
      </div>

      <div>
        <strong>Destruction</strong>
        <p>
          <uh4d-inline-edit [(ngModel)]="object.date.to"
                            (saved)="updateObject('to')"
                            [enabled]="canEditObjects"
                            type="date"></uh4d-inline-edit>
        </p>
      </div>

      <div>
        <strong>Address</strong>
        <p>
          <uh4d-inline-edit [(ngModel)]="object.address"
                            (saved)="updateObject('address')"
                            [suggestionsFn]="queryAddresses"
                            [enabled]="canEditObjects"></uh4d-inline-edit>
        </p>
      </div>

      <div>
        <strong>Former Addresses</strong>
        <p></p>
      </div>

      <div>
        <strong>Further Information</strong>
        <p>
          <uh4d-textarea-edit [(ngModel)]="object.misc"
                              (saved)="updateObject('misc')"
                              [enabled]="canEditObjects"></uh4d-textarea-edit>
        </p>
      </div>

      <div>
        <strong>Tags</strong>
        <p>
          <uh4d-tags-edit [(ngModel)]="object.tags"
                          (saved)="updateObject('tags')"
                          [suggestionsFn]="queryTags"
                          [enabled]="canEditObjects"></uh4d-tags-edit>
        </p>
      </div>

      <div class="border border-dark p-2" *ngIf="canEditObjects">
        <b class="mb-2">VRCity App Settings</b>
        <div class="custom-control custom-switch">
          <input type="checkbox"
                 id="useTexturesSwitch"
                 class="custom-control-input"
                 [(ngModel)]="object.vrcity_forceTextures"
                 (change)="updateObject('vrcity_forceTextures')"/>
          <label class="custom-control-label" for="useTexturesSwitch">Force textures</label>
        </div>
      </div>

      <div class="border border-dark p-2 mt-2">
        <div class="mb-2 d-flex justify-content-between">
          <b>Associated Literature</b>
          <button
            class="btn btn-sm btn-secondary"
            *ngxPermissionsOnly="'manageTexts'"
            (click)="openTextUploadModal()"
          >
            <fa-icon icon="cloud-upload-alt"></fa-icon> Upload text
          </button>
        </div>
        <uh4d-text-list [objectId]="object.id"></uh4d-text-list>
      </div>

    </div>

    <div class="info-footer border-top border-secondary">
      <div>
        <button class="btn btn-sm btn-secondary" (click)="zoomObject()">
          <fa-icon icon="cube"></fa-icon> Jump to location
        </button>
        <ng-container *ngxPermissionsOnly="'manageObjects'">
          <button class="btn btn-sm btn-secondary" (click)="downloadObject()">
            <fa-icon icon="download"></fa-icon> Download OBJ
          </button>
          <button *ngIf="expertMode" class="btn btn-sm btn-outline-danger" (click)="updateTransform()">
            <fa-icon icon="arrows-alt"></fa-icon> Update transform
          </button>
          <button *ngIf="expertMode" class="btn btn-sm btn-outline-danger" (click)="duplicateObject()">
            <fa-icon icon="copy"></fa-icon> Duplicate
          </button>
          <button *ngIf="expertMode" class="btn btn-sm btn-outline-danger" (click)="removeObject()">
            <fa-icon icon="trash"></fa-icon> Delete
          </button>
        </ng-container>
      </div>
    </div>

  </div>

</div>
