<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <a class="navbar-brand d-flex align-items-center" routerLink="/">
    <img class="mr-2" src="assets/kv_histstadt4d.png" alt="UH4D Logo" title="Start page" height="40"/>
    UrbanHistory4D
  </a>

  <div class="navbar-collapse">

    <div class="flex-grow-1"></div>

    <ul class="navbar-nav">
<!--      <li class="nav-item" routerLinkActive="active">-->
<!--        <a class="nav-link" routerLink="/help">Help</a>-->
<!--      </li>-->
    </ul>

  </div>

</nav>
