<div *ngIf="!editing && !value">
  <span class="empty">{{ placeholder }}</span>
  <fa-icon class="pencil-icon ml-3" title="Edit" *ngIf="enabled" (click)="edit()" icon="pencil-alt"></fa-icon>
</div>
<div *ngIf="!editing && value" class="d-flex">
  <div [outerHTML]="value | citation"></div>
  <fa-icon class="pencil-icon ml-3" title="Edit" *ngIf="enabled" (click)="edit()" icon="pencil-alt"></fa-icon>
</div>
<div *ngIf="editing"  class="d-flex">
  <textarea
    #inputElement
    class="form-control form-control-sm border-0 text-monospace"
    rows="10"
    placeholder="Enter bibtex reference..."
    [(ngModel)]="value"
  ></textarea>
  <div>
    <button class="btn btn-success btn-sm d-block w-100" title="Save" (click)="save()">
      <fa-icon icon="check"></fa-icon>
    </button>
    <button class="btn btn-danger btn-sm d-block w-100" title="Cancel" (click)="cancel()">
      <fa-icon icon="times"></fa-icon>
    </button>
  </div>
</div>
