@import "ngx-tagify/styles/tagify"
@import "variables"
@import "bootstrap/scss/functions"
@import "bootstrap/scss/variables"

.tagify-custom
  //--tag-text-color: red
  //--tag-text-color--edit: green

tags
  background: $input-bg
  color: $input-color

.tagify
  --tags-focus-border-color: #{$input-focus-border-color}
  line-height: 1.1

.tagify__tag
  z-index: 0

.tagify__input::before
  z-index: initial

.tagify__input:empty::before
  line-height: inherit

.tagify__dropdown > .tagify__dropdown__wrapper
  background: $dropdown-bg
  .tagify__dropdown__item
    color: $dropdown-link-color
    border-radius: 0
    &:hover
      color: $dropdown-link-hover-color
      background: $dropdown-link-hover-bg
    &.tagify__dropdown__item--active
      color: $dropdown-link-active-color
      background: $dropdown-link-active-bg

.tagify__tag__removeBtn
  position: relative
  width: 13px
  height: 13px
  display: inline
  &::after
    content: '+'
    transform: translate(2px,-1px)rotate(45deg)
    position: absolute

.tagify__tag-text > img
  height: 1em
  vertical-align: bottom

// perfect scrollbar
@import "node_modules/perfect-scrollbar/css/perfect-scrollbar"

.ps__rail-x
  height: 4px
  & > .ps__thumb-x
    height: 2px
    background-color: #555
  &:hover > .ps__thumb-x
    height: 4px
    background-color: #555
