<div *ngIf="!activeViz" class="p-2 lead text-center">
  No visualization active
</div>

<div *ngIf="activeViz" class="d-flex">

  <img width="50" height="50"
       [src]="activeViz.imgSrc"
       [alt]="activeViz.label"
       [title]="activeViz.label"/>

  <div class="p-2 flex-grow-1">
    <uh4d-legend-gradient *ngIf="gradientConfig"
                          [gradient]="gradientConfig.gradient"
                          [domain]="gradientConfig.domain">
    </uh4d-legend-gradient>
  </div>

</div>
