<div class="h-100 p-3 d-flex overflow-hidden">

  <div class="preview-container">
    <uh4d-text-viewer [file]="text.file"></uh4d-text-viewer>
  </div>

  <div class="info-container ml-4">
    <div class="info-header border-bottom border-secondary">
      <h5 class="w-100 mt-2">{{ text.title }}</h5>
      <button type="button" class="close p-2" aria-label="Close" routerLink="../.." queryParamsHandling="preserve">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="info-body py-3">

      <div>
        <strong>Reference</strong>
        <p>
          <uh4d-citation-edit
            [(ngModel)]="text.bibtex"
            (saved)="updateText()"
            [enabled]="editable"
          ></uh4d-citation-edit>
        </p>
      </div>

      <div>
        <strong>Associated Objects</strong>
        <p>
          <button
            class="btn btn-secondary btn-sm mr-2"
            *ngFor="let obj of text.objects"
            (click)="openObject(obj.id)"
            title="Open object"
          >{{ obj.name }}</button>
        </p>
      </div>

    </div>

    <div class="info-footer border-top border-secondary">
      <div>
        <button *ngIf="expertMode" class="btn btn-sm btn-outline-danger" (click)="removeText()">
          <fa-icon icon="trash"></fa-icon> Delete
        </button>
      </div>
    </div>
  </div>

</div>
