@import "variables"

\:host
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  background-color: $body-bg

.preview-container
  flex: 1 1 auto
  position: relative

  uh4d-text-viewer
    height: 100%

.info-container
  flex: 0 0 40%
  display: flex
  flex-direction: column

.info-header
  display: flex
  justify-content: space-between
  align-items: flex-start

.info-body
  flex: 1
  overflow-y: auto

.info-footer
  padding-top: 0.5rem
  & > div
    display: flex
    flex-wrap: wrap
    margin: -0.25rem
    & > *
      margin: 0.25rem
