\:host
  display: block
  position: relative

.viewport-hud
  position: absolute
  width: 100%
  height: 100%
  pointer-events: none
  & > *
    pointer-events: auto
    position: absolute

uh4d-compass
  width: 80px
  height: 80px
  left: 10px
  bottom: 10px

uh4d-viewport-controls
  left: 0
  top: 0
