<div #dialogElement [ngStyle]="{left: position.x + 'px', top: position.y + 'px'}">

  <ul class="list-group" *ngIf="image">
    <li class="list-group-item list-group-item-title bg-primary d-flex" [title]="image.label">
      <span class="flex-grow-1 text-truncate">{{image.label}}</span>
    </li>
    <li class="list-group-item list-group-item-action" (click)="openImage()">
      <fa-icon icon="info-circle"></fa-icon>&ensp;Open details...
    </li>
    <li class="list-group-item list-group-item-action" (click)="zoomImage()">
      <fa-icon icon="cam-spatial-solid"></fa-icon>&ensp;Jump to location
    </li>
  </ul>

  <ul class="list-group" *ngIf="object">
    <li class="list-group-item list-group-item-title bg-primary d-flex" [title]="object.label">
      <span class="flex-grow-1 text-truncate">{{object.label}}</span>
    </li>
    <li class="list-group-item list-group-item-action" (click)="openObject()">
      <fa-icon icon="info-circle"></fa-icon>&ensp;Open details...
    </li>
    <li class="list-group-item list-group-item-action" (click)="zoomObject()">
      <fa-icon icon="expand"></fa-icon>&ensp;Fit to viewport
    </li>
    <li class="list-group-item list-group-item-action" *ngIf="!objectFiltered" (click)="filterObject('add')">
      <fa-icon icon="filter-custom"></fa-icon>&ensp;Filter by object
    </li>
    <li class="list-group-item list-group-item-action" *ngIf="objectFiltered" (click)="filterObject('remove')">
      <fa-icon icon="filter-custom-slash"></fa-icon>&ensp;Remove filter
    </li>
  </ul>

  <ul class="list-group" *ngIf="poi">
    <li class="list-group-item list-group-item-title bg-primary d-flex" [title]="poi.label">
      <span class="flex-grow-1 text-truncate">{{poi.label}}</span>
    </li>
    <li class="list-group-item list-group-item-action" (click)="openPoi()">
      <fa-icon icon="info-circle"></fa-icon>&ensp;Open details...
    </li>
    <li class="list-group-item list-group-item-action"
        *ngIf="poi.object.userData.resource.camera" (click)="zoomPoi()">
      <fa-icon icon="street-view"></fa-icon>&ensp;Jump to location
    </li>
    <li class="list-group-item list-group-item-action" *ngxPermissionsOnly="'managePOIs'" (click)="setCamera()">
      <fa-icon icon="street-view"></fa-icon>&ensp;Set preferred location
    </li>
  </ul>

</div>
