@import "variables"

.list-media
  & > ul
    width: 100%
    display: flex
    flex-direction: column
    gap: 9px
    & > li.media
      position: relative
      &:hover
        border-color: $primary !important
      & > .media-thumb
        width: 160px
        height: 90px
        background-position: top
        background-size: cover
      & > .media-body
        margin: 4px 4px 4px 0
        line-height: initial
        font-size: 13px
        & > .media-title
          font-weight: bold
          margin-bottom: 4px
      & > .media-flags
        width: 1.5rem
        text-align: center
        & > fa-icon
          cursor: pointer
          color: $gray-600
          &:hover
            color: $gray-100
