<div
  class="d-flex justify-content-center lead text-muted"
  *ngIf="!texts.length"
>
  No texts available!
</div>

<div class="list-media" *ngIf="texts.length">
  <ul class="list-unstyled m-0">

    <li
      class="media border border-secondary"
      *ngFor="let text of texts"
      [title]="text.title"
      (click)="openText(text.id)"
    >
      <div class="media-thumb mr-3" [style]="'background-image: url(data/' + text.file.path + text.file.thumb + ')'"></div>
      <div class="media-body">
        <div class="media-title" [line-truncation]="3">{{ text.title }}</div>
        <p class="mb-0"><i>{{ text.authors.length ? text.authors.join(', ') : 'unknown' }} &ndash; {{ text.date | formatImageDate }}</i></p>
      </div>
    </li>

  </ul>
</div>
