<span><a href="http://www.urbanhistory4d.org" target="_blank">www.urbanhistory4d.org</a></span>
<span>UH4D Browser v0.23.2</span>
<span><a routerLink="/legalnotice">Legal notice / Privacy</a></span>
<!--<span><a routerLink="/help">Help</a></span>-->
