<div class="resize-handle" title="Resize" #resizeHandle *ngIf="!collapsed">
  <span></span>
</div>

<div class="collapsible-container" *ngIf="!collapsed">

  <div class="collapse-header p-1">
    <fa-icon icon="angle-double-right" class="collapse-button mr-2" title="Collapse" (click)="toggle(true)"></fa-icon>
    <span>Search results ({{imagesLength}})</span>
  </div>

  <div class="collapse-content">
    <ng-content></ng-content>
  </div>

</div>

<div class="collapsed-container w-100" *ngIf="collapsed">
  <div>

    <div class="text-center p-1">
      <fa-icon icon="angle-double-left" class="collapse-button" title="Expand" (click)="toggle(false)"></fa-icon>
    </div>

    <div class="text-vertical p-1">
      Search results ({{imagesLength}})
    </div>

  </div>
</div>
