@import "variables"

$backgroundColor: $gray-800

\:host
  display: flex
  flex-grow: 0
  flex-shrink: 0

.collapsible-container
  flex: 1 1 auto
  display: flex
  flex-direction: column

.collapse-header
  flex: 0 0 auto
  background-color: $backgroundColor

.collapse-content
  flex: 1 1 auto

.resize-handle
  flex: 0 0 auto
  width: 12px
  background-color: $backgroundColor
  display: flex
  justify-content: center
  align-items: center
  cursor: col-resize
  & > span
    width: 6px
    height: 30px
    border: solid $gray-600
    border-width: 0 1px
  &:hover
    background-color: $gray-700

.collapse-button
  opacity: 0.7
  &:hover
    opacity: 1
    cursor: pointer

.collapsed-container
  background-color: $backgroundColor

.text-vertical
  writing-mode: vertical-rl
