\:host
  display: block
  font-size: 0.875rem

tagify
  display: block
  position: relative
  &::ng-deep
    .tagify
      display: inline-flex
      flex-wrap: nowrap
      overflow: hidden
      min-width: 100%
    .tagify__tag-text
      white-space: nowrap
