<div class="h-100 p-3 d-flex overflow-hidden">

  <div class="preview-container">
    <uh4d-image-viewer [src]="'data/' + image.file.path + image.file.preview"></uh4d-image-viewer>
  </div>

  <div class="info-container ml-4">

    <div class="info-header border-bottom border-secondary">
      <h5 class="w-100 mt-2">
        <uh4d-inline-edit [(ngModel)]="image.title"
                          (saved)="updateImage('title')"
                          [enabled]="editable"></uh4d-inline-edit>
      </h5>
      <button type="button" class="close p-2" aria-label="Close" routerLink="../.." queryParamsHandling="preserve">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="info-body py-3">

      <p class="mb-1" [ngSwitch]="image.spatialStatus">
        <fa-icon *ngSwitchCase="0" icon="cam-spatial-empty" title="Not yet spatialized"></fa-icon>
        <fa-icon *ngSwitchCase="1" icon="cam-spatial-slash" title="Spatialization not possible"></fa-icon>
        <fa-icon *ngSwitchCase="2" icon="cam-spatial-fog" title="Spatialization may be possible in future"></fa-icon>
        <fa-icon *ngSwitchCase="3" icon="cam-spatial-solid" title="Spatialized (only position)"></fa-icon>
        <fa-icon *ngSwitchCase="4" icon="cam-spatial-solid" title="Spatialized (manually)"></fa-icon>
        <fa-icon *ngSwitchCase="5" icon="cam-spatial-solid" title="Spatialized (pipeline)"></fa-icon>

      </p>

      <div *ngIf="editable || image.description">
        <strong>Description</strong>
        <p>
          <uh4d-textarea-edit [(ngModel)]="image.description"
                              (saved)="updateImage('description')"
                              [enabled]="editable"></uh4d-textarea-edit>
        </p>
      </div>

      <div>
        <strong>Author</strong>
        <p>
          <uh4d-inline-edit [(ngModel)]="image.author"
                            (saved)="updateImage('author')"
                            [suggestionsFn]="queryAuthors"
                            [enabled]="editable"></uh4d-inline-edit>
        </p>
      </div>

      <div>
        <strong>Date</strong>
        <p>
          <uh4d-date-edit [(ngModel)]="image.date"
                            (saved)="updateImage('date')"
                            [enabled]="editable"></uh4d-date-edit>
        </p>
      </div>

      <div *ngIf="editable || image.owner">
        <strong>Owner</strong>
        <p>
          <uh4d-inline-edit [(ngModel)]="image.owner"
                            (saved)="updateImage('owner')"
                            [suggestionsFn]="queryLegalBodies"
                            [enabled]="editable"></uh4d-inline-edit>
        </p>
      </div>

      <div *ngIf="editable || image.misc">
        <strong>Miscellaneous</strong>
        <p>
          <uh4d-textarea-edit [(ngModel)]="image.misc"
                              (saved)="updateImage('misc')"
                              [enabled]="editable"></uh4d-textarea-edit>
        </p>
      </div>

      <div>
        <strong>Tags</strong>
        <p>
          <uh4d-tags-edit [(ngModel)]="image.tags"
                          (saved)="updateImage('tags')"
                          [suggestionsFn]="queryTags"
                          [enabled]="editable"></uh4d-tags-edit>
        </p>
      </div>

      <div>
        <strong>Capture number</strong>
        <p>{{image.captureNumber}}</p>
      </div>

      <div *ngIf="editable && image.spatialStatus < 3" class="mb-3">
        <strong>Spatialization status</strong>
        <div class="custom-control custom-radio">
          <input type="radio" id="status-0" class="custom-control-input" name="spatialStatus" [value]="0" [(ngModel)]="image.spatialStatus" (change)="updateImage('spatialStatus')">
          <label class="custom-control-label" for="status-0">Not yet spatialized</label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="status-2" class="custom-control-input" name="spatialStatus" [value]="1" [(ngModel)]="image.spatialStatus" (change)="updateImage('spatialStatus')">
          <label class="custom-control-label" for="status-2">Spatialization not possible</label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="status-3" class="custom-control-input" name="spatialStatus" [value]="2" [(ngModel)]="image.spatialStatus" (change)="updateImage('spatialStatus')">
          <label class="custom-control-label" for="status-3">Spatialization may be possible in future (if model gets extended)</label>
        </div>
      </div>

      <div *ngIf="editable" class="p-2 bg-warning text-dark mb-3">
        <div *ngIf="fileUpdate?.updateAvailable">
          <p class="mb-1"><strong><u>Image file update available</u></strong></p>
          <p class="mb-1">
            Current image: <b>{{image.file.width}} x {{image.file.height}}</b><br/>
            New image: <b>{{fileUpdate.width}} x {{fileUpdate.height}}</b>
          </p>
          <p class="small mb-1">There is an image with a higher resolution available!<br/>
          If the image is already spatialized: Before you update the image, check if the content and aspect ratio is nearly the same. Otherwise, orientation might get messed up and you need to re-orientate the image.</p>
          <a class="btn btn-sm btn-secondary mr-2" [href]="fileUpdate.url" target="_blank"><fa-icon icon="external-link-alt"></fa-icon> Check</a>
          <button class="btn btn-sm btn-secondary" [disabled]="isUpdating" (click)="updateFile()"><fa-icon icon="sync"></fa-icon> Update</button>
        </div>
        <div *ngIf="!fileUpdate?.updateAvailable">
          No image file update available.
        </div>
      </div>

    </div>

    <div class="info-footer border-top border-secondary">
      <div>
        <a class="btn btn-sm btn-secondary" [href]="'data/' + image.file.path + image.file.original" target="_blank"><fa-icon icon="download"></fa-icon> Full size image</a>
        <a class="btn btn-sm btn-secondary" *ngIf="image.permalink" [href]="image.permalink" target="_blank"><fa-icon icon="external-link-alt"></fa-icon> SLUB permalink</a>
        <button class="btn btn-sm btn-secondary" *ngIf="image.camera" (click)="zoomImage()"><fa-icon icon="cam-spatial-solid"></fa-icon> Jump to location</button>
        <button class="btn btn-sm btn-outline-warning" *ngxPermissionsOnly="'spatializeImages'" (click)="spatialize()">Spatialize</button>
      </div>
    </div>

  </div>

</div>
