@use "src/styles/variables"

.file-drop-area
  padding: 2rem
  color: variables.$light
  border: 4px dashed variables.$light
  text-align: center
  cursor: pointer
  display: flex
  justify-content: center
  align-items: center

  &:hover
    color: variables.$body-color
    border-color: variables.$body-color

  &.file-over
    background-color: variables.$light
    color: #fff
    border-color: #fff

  & > input
    display: none
