@use "src/styles/variables"

.modal-body
  position: relative

  &.file-over
    box-shadow: inset 0 0 4rem variables.$success

.background
  position: absolute
  width: 100%
  height: 100%
  color: variables.$light
  text-align: center
  cursor: pointer
  display: flex
  justify-content: center
  align-items: center

  &:hover
    color: variables.$body-color
    border-color: variables.$body-color

  &.file-over
    background-color: variables.$light
    color: #fff
    border-color: #fff

  & > input
    display: none

.file-preview-container
  min-height: 200px
  display: flex
  flex-wrap: wrap
  justify-content: space-evenly
  align-items: center

.file-preview
  position: relative
  width: 200px
  margin: 0.5rem

  & > img
    width: 100%

  & > button
    position: absolute
    top: 0
    right: 0

  & > div
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    background-color: rgba(#000, 0.3)
    display: flex
    justify-content: center
    align-items: center
    & > fa-icon
      font-size: 3rem
    &.success
      color: variables.$success
    &.error
      color: variables.$danger

  & > span
    position: absolute
    bottom: 0
    left: 0
    right: 0
    padding: 0.2rem
    font-size: 0.75rem

  & > progressbar
    position: absolute
    bottom: 0
    left: 0
    right: 0
    background-color: transparent
    height: 4px
