@mixin colorize($color)
  background-color: rgba($color, 0.5)
  &:hover
    background-color: $color

\:host
  display: inline

  span
    border-radius: 0.25em
    white-space: pre-wrap
    padding: 0.1em 0
    &:not(.none)
      padding: 0.1em 0.2em
    &.LOCATION
      @include colorize(#ccebc5)
    &.OBJECT
      @include colorize(#b3cde3)
    &.PERSON
      @include colorize(#fbb4ae)
    &.YEAR
      @include colorize(#decbe4)

.tooltip-content
  font-size: 12px
  line-height: 1.1
