<ng-template #tpl><span class="tooltip-content" [innerHtml]="tooltipText"></span></ng-template>

<span
  [class]="data.label"
  [tooltip]="tpl"
  [tooltipEnable]="!!tooltipText"
  [delay]="500"
  placement="auto"
>{{ data.text }}</span>
