<div class="border border-light">

  <div class="progress">
    <div class="progress-bar text-white" [ngStyle]="{width: progress + '%'}">
      <b>{{progress}} %</b>
    </div>
  </div>

</div>

<p>{{item}} &ndash; {{loaded}} / {{total}}</p>
