@use "variables"

\:host
  width: 100%
  height: 100%
  pointer-events: none !important

  & > div
    pointer-events: auto
    position: absolute
    bottom: 0
    right: 0
    background-color: variables.$viewportPanelBackground

