<div class="modal-header">
  <h5 class="modal-title">Upload text</h5>
  <button class="close" (click)="close()">&times;</button>
</div>

<div class="modal-body">

  <div class="file-drop-area"
       ng2FileDrop
       [uploader]="uploader"
       (fileOver)="hasFileOverDropZone = $event"
       [class.file-over]="hasFileOverDropZone"
       (click)="openFileDialog()">
    <input type="file" ng2FileSelect [uploader]="uploader" (click)="$event.stopPropagation()"/>
    <div class="lead">
      <fa-icon icon="file-upload"></fa-icon> Drop file<br>
      or<br>
      <fa-icon icon="hand-pointer"></fa-icon> Click to open file dialog
    </div>
  </div>

  <div class="small mt-1"><i>At the moment, only <b>.pdf</b> files are supported.</i></div>

  <div *ngIf="fileItem" class="mt-3 text-center">

    <p class="bg-light text-black p-2">{{fileItem.file.name}} &ndash; {{fileItem.file.size / 1024 | number:'1.0-0'}} KB</p>

    <div *ngIf="!fileItem.isUploading && !fileItem.isUploaded && !fileItem.isSuccess && !fileItem.isError">
      <button class="btn btn-primary" (click)="upload()"><fa-icon icon="cloud-upload-alt"></fa-icon> Upload</button>
    </div>
    <div class="progress" *ngIf="fileItem.isUploading && fileItem.progress !== 100">
      <div class="progress-bar" [ngStyle]="{width: fileItem.progress + '%'}"></div>
    </div>
    <div *ngIf="fileItem.progress === 100 && !fileItem.isSuccess && !fileItem.isError">
      <div class="spinner-border spinner-border-sm"></div> Processing...
    </div>
    <div class="text-success" *ngIf="fileItem.isSuccess">
      <fa-icon icon="check-circle"></fa-icon> Success!
    </div>
    <div class="text-danger" *ngIf="fileItem.isError">
      <fa-icon icon="exclamation-circle"></fa-icon> Error!
    </div>

  </div>
</div>
