@import "src/styles/variables"

$panelBorder: 2px solid $secondary

$sliderBackground: white // rgba(#000, 0.8)
$trackColor: $gray-900 // $light

$imageColor: $primary // orange
$modelColor: $cyan
$mapColor: #77b837

\:host
  width: 100%
  height: 100%
  position: absolute
  display: flex
  color: #000

.panel
  display: flex
  background-color: $sliderBackground

  & > .panel-header
    min-width: 0
    width: 20px
    flex: 0 0 auto
    display: flex
    justify-content: center
    align-items: center
    & > span
      font-size: 10px
      text-transform: uppercase
      opacity: 0.6
      transform: rotate(-90deg)

  & > .panel-body
    flex: 1

.slider-legend
  flex: 0 0 auto
  border-right: $panelBorder
  padding-right: 0.25rem

  & > .panel-body > div
    margin-right: 0.25rem
    font-size: 11px
    text-align: right
    &:nth-child(1)
      color: $imageColor
    &:nth-child(2)
      color: $modelColor
    &:nth-child(3)
      color: $mapColor

.slider-container
  flex: 1

.slider-options
  flex: 0 0 auto
  border-left: $panelBorder

  & > .panel-body
    margin-right: 0.25rem
    display: flex
    align-items: center

.slider-help
  flex: 0 0 auto
  //border-left: $panelBorder

svg
  width: 100%
  height: 100%

\:host ::ng-deep
  rect.background
    fill: transparent

  rect.track
    fill: $trackColor
    pointer-events: none
  g.tick-container
    pointer-events: none
  g.tick
    & > line
      stroke: $trackColor
      stroke-width: 2px
    & > text
      fill: $trackColor
      font-size: 12px

  rect.image-span
    fill: $imageColor
    opacity: 0.3
    //cursor: grab

  .from-handle, .to-handle
    & > path
      fill: none
      stroke: $imageColor
      stroke-width: 2px
    & > text
      fill: $imageColor
      font-size: 12px
    & > rect
      fill: transparent
      //cursor: w-resize

  .model-handle
    & > path
      fill: none
      stroke: $modelColor
      stroke-width: 0px
    & > line
      fill: none
      stroke: $modelColor
      stroke-width: 3px
    & > circle
      fill: $modelColor
    & > text
      fill: $modelColor
      font-size: 12px
    & > rect
      fill: transparent
      //cursor: w-resize

  .map-handle
    & > path
      fill: none
      stroke: $mapColor
      stroke-width: 2px
    & > text
      fill: $mapColor
      font-size: 12px
    & > rect
      fill: transparent
      //cursor: pointer
    &.active > path
      fill: $mapColor

\:host:not(.preview) ::ng-deep
  rect.image-span
    cursor: grab
  .model-handle, .from-handle, .to-handle > rect
    cursor: w-resize
  .map-handle > rect
    cursor: pointer
