<div *ngIf="!preview" class="slider-legend panel">

  <div class="panel-header">
    <span>Legend</span>
  </div>

  <div class="panel-body">
    <div>Images &mdash;</div>
    <div>Buildings &mdash;</div>
    <div>Maps &mdash;</div>
  </div>

</div>

<div class="slider-container panel">

  <div *ngIf="!preview" class="panel-header">
    <span>Slider</span>
  </div>

  <div class="panel-body">

    <svg #svgElement>
      <defs>
        <linearGradient [id]="id + '-alphaLinear'">
          <stop offset="0%" stop-color="black"/>
          <stop offset="5%" stop-color="white"/>
          <stop offset="95%" stop-color="white"/>
          <stop offset="100%" stop-color="black"/>
        </linearGradient>
        <mask [id]="id + '-alphaMask'">
          <rect x="0" y="0" width="100" height="100" [attr.fill]="'url(#' + id + '-alphaLinear)'"/>
        </mask>
      </defs>
    </svg>

  </div>

</div>

<div *ngIf="!preview" class="slider-options panel">

  <div class="panel-header">
    <span>Options</span>
  </div>

  <div class="panel-body">
    <form [formGroup]="optionsForm">
      <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="undatedSwitch" formControlName="includeUndated">
        <label class="custom-control-label" for="undatedSwitch">Incl. Undated</label>
      </div>
    </form>
  </div>

</div>

<div *ngIf="!preview" class="slider-help panel">

  <div class="panel-body p-2 d-flex align-items-center">
    <uh4d-quick-help key="time-slider"></uh4d-quick-help>
  </div>

</div>
