<ng2-pdfjs-viewer
  *ngIf="showPdfFile"
  [pdfSrc]="'/data/' + file.path + file.pdf"
></ng2-pdfjs-viewer>

<div class="text-wrapper" *ngIf="annotatedText">
  <uh4d-text-viewer-annotation
    *ngFor="let ann of annotatedText"
    [data]="ann"
  ></uh4d-text-viewer-annotation>
</div>
