@import "variables"

\:host
  display: block

ng2-pdfjs-viewer::ng-deep > iframe
  border: 0

.text-wrapper
  height: 100%
  padding: 1rem 1.5rem
  overflow-y: auto
  background: #fff
  color: $dark
  cursor: text
