<div class="search-container">

  <div class="side-container">
    <div class="bg-dark p-2 d-flex align-items-center justify-content-center">
      <img src="assets/kv_histstadt4d.png" alt="UH4D Logo" title="Start page" height="40" routerLink="/"/>
    </div>
    <div class="flex-grow-1 p-3">
      <input
        class="form-control"
        placeholder="Search place..."
        [formControl]="inputControl"
        [typeahead]="searchResults$"
        [typeaheadAsync]="true"
        typeaheadOptionField="label"
        [typeaheadWaitMs]="500"
        [typeaheadMinLength]="3"
        (typeaheadOnSelect)="onSelect($event)"
        [typeaheadHideResultsOnBlur]="false"
      >

      <div class="card my-3">
        <div class="card-body">
          <h5 class="card-title">{{ placeName }}</h5>
          <p class="card-text">
            Lat: {{ currentPosition.lat | number: '1.3-6' }}<br>
            Lon: {{ currentPosition.lng | number: '1.3-6' }}
          </p>
        </div>
      </div>

      <div class="text-center">
        <button class="btn btn-primary" (click)="openScene()">
          Open 3D scene <fa-icon icon="arrow-alt-circle-right"></fa-icon>
        </button>
      </div>
    </div>
  </div>

  <div
    class="map-container"
    leaflet
    [leafletOptions]="leafletOptions"
    (leafletMapReady)="onMapReady($event)"
    (leafletMapMoveEnd)="onMapMoveEnd()"
    (leafletMapMove)="onMapMove()"
  >
    <div [leafletLayer]="marker"></div>
  </div>

</div>

<uh4d-footer class="bg-dark"></uh4d-footer>
