\:host
  overflow: hidden !important
  display: flex
  flex-direction: column

.search-container
  flex: 1
  display: flex

.side-container
  width: 300px
  border-right: 1px solid #000
  display: flex
  flex-direction: column

  & > div:first-child
    flex: 0 0 70px
    & > img
      cursor: pointer

.map-container
  flex: 1
