<p>Use your mouse to navigate within the scene:</p>
<p>
  <span class="d-inline-flex flex-column align-items-center">
    <img src="assets/help/img/navigation_help_button0.svg" alt="Left mouse button" height="50">
    <span>Pan</span>
  </span>
  <span class="d-inline-flex flex-column align-items-center ml-2">
    <img src="assets/help/img/navigation_help_wheel.svg" alt="Mouse wheel" height="50">
    <span>Zoom</span>
  </span>
  <span class="d-inline-flex flex-column align-items-center ml-2">
    <img src="assets/help/img/navigation_help_button2.svg" alt="Left mouse button" height="50">
    <span>Rotate</span>
  </span>
</p>
