<div *ngIf="active" class="p-2 small">

  <h6>Collected POIs</h6>

  <div class="mb-2">
    <i *ngIf="!pois.length">No POIs collected yet.</i>
    <div *ngFor="let p of pois" class="poi-item d-flex">
      <fa-icon icon="map-marker-alt"></fa-icon>
      <span class="mx-2 flex-grow-1 text-truncate" [title]="p.title">{{p.title}}</span>
      <fa-icon icon="times" title="Remove" (click)="remove(p)"></fa-icon>
    </div>
  </div>

  <div>
    <button class="btn btn-sm btn-primary" (click)="save()"><fa-icon icon="check"></fa-icon> Finish</button>&ngsp;
    <button class="btn btn-sm btn-secondary" (click)="abort()"><fa-icon icon="times"></fa-icon> Cancel</button>
  </div>

</div>
